input {
	width: 50px;
}

.title {
	text-align: center;
	font-size: 20;
	padding: 10px;
	padding-bottom: 0px;
}

.sidebar {
	position: fixed;
 	top: 10%;
 	right: 0%;
 	height: 280px;
 	width: 250px;
}

.controls {
	height: 280px;
	width: 250px;
}

.control-table {
	padding: 10px;
	padding-left: 8px;
	padding-top: 0px;
}

.fromto {
	color: white;
	padding-right: 10px;
	padding-left: 10px;
}

.control-cell {
	padding-top: 5px;
}

.control-title {
	color: white;
	padding: 0px;
	text-align: center;

}

.control-button {
	padding: 5px;
}

.result {
	padding-left: 0px;
	color: white;
}

.key {
	width: 250px
}

.key-table {
	padding: 10px;
	padding-left: 25px;
	padding-top: 0px;
}

.key-cell {
	height: 30px;
	width: 70px;
}

.key-description {
	width: 300px;
	color: white;
	padding: 0px 10px;
}

.network {
	height: 38vh;
	width: 40vw;
}

.create-graph {
  	position:absolute;
	width:500px;
	height:60px;
	margin-left:-250px;
	bottom:0px;
	left:50%;
}
