.title {
	text-align: center;
	padding: 10px;
	padding-bottom: 0px;
}

.sidebar {
	position: fixed;
	bottom: 10%;
	right: 50%;
	width: 500px;
	height: 500px;
	background-color: white;
}

.controls {
	padding: 10px;
	position:fixed;
	left:28%;
	height: 280px;
	width: 250px;

}

.control-table {
	padding: 10px;
	padding-left: 8px;
	padding-top: 0px;
}

.fromto {
	color: white;
	padding-right: 10px;
	padding-left: 10px;
}

.control-cell {
	padding-top: 5px;
}

.control-title {
	color: white;
	padding: 0px;
	text-align: center;

}

.control-button {
	padding: 5px;
}

.result {
	padding-left: 0px;
	color: white;
}

.key {
	padding: 10px;
	position: fixed;
	right:30%;
	height: 280px;
	width: 250px;
}

.key-table {
	padding: 10px;
	padding-left: 25px;
	padding-top: 0px;
}

.key-cell {
	height: 30px;
	width: 70px;
}

.key-description {
	width: 300px;
	color: white;
	padding: 0px 10px;
}

.network {
	height: 40vh;
	width: 400px;
}

